#### A

In [ ]:
# 변수 school에 여러 개의 문자열을 리스트로 저장합니다.
school = ["teacher", "students", "bus"]

print(type(school))

print(school)

#### B

In [ ]:
# 여러 데이터 유형을 리스트로 저장합니다.
computer = ["keyboard", 1, "mause", 2, True]

print(type(computer))

print(computer)

#### C

In [ ]:
school = ["teacher", "students", "bus"]

# 인덱스를 사용해 “bus”를 “blackboard”로 수정합니다.
school[2] = "blackboard"

# 인덱스와 del 명령어를 사용해 “teacher”를 삭제합니다.
del school[0] 

print(school)

#### D

In [ ]:
# 변수 resolution에 여러 개의 숫자를 튜플로 저장합니다.
resolution = (1920, 1080)

print(type(resolution))

print(resolution)

#### E

In [ ]:
# 인덱스를 사용해 1920을 720으로 수정합니다.
resolution[0] = 729

# 튜플 내부의 데이터는 수정할 수 없습니다.

#### F

In [ ]:
# range를 사용해 1부터 10까지의 숫자 범위를 생성합니다.
numbers = range(1, 11)

print(type(numbers))

print(numbers)

#### G

In [ ]:
# 생성한 range를 리스트로 변환하여 전체 범위를 출력합니다.
print(list(numbers))

# 생성한 range를 튜플로 변환하여 전체 범위를 출력합니다
print(tuple(numbers))

#### H

In [ ]:
# 1부터 10까지의 숫자 범위를 2씩 건너뛰며 생성합니다.
numbers = range(1, 11, 2)

print(list(numbers))

#### I

In [ ]:
# 인덱스를 사용해 생성한 range에서 5를 20으로 수정합니다.
numbers[2] = 20

# range 내부의 데이터는 수정할 수 없습니다.